body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 95vh;

}

h1 {
    text-align: center;
}

#ZMap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 80vw;
    height: 75vh;
    margin: auto;
}

#info {
    z-index: 1;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}